In [1]:
#importing packages
%matplotlib inline

import matplotlib
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# Load csv file into dataframe
sc96 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv")
sc97 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv")
sc98 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv")
sc99 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv")
sc00 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv")
sc01 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv")
sc02 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv")
sc03 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv")
sc04 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv")
sc05 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv")
sc06 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv")
sc07 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv")
sc08 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv")
sc09 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv")
sc10 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv")
sc11 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv")
sc12 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv")
sc13 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv")
sc14 = pd.read_csv("C:/Users/Qi Zhang/Desktop/CSC693/project/data/CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv")

C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,6,442,451,598,607,611,620,624,633,789,802,806,815,893,906,971,984,997,1153,1166,1407,1408,1411,1424,1425,1426,1431,1432,1433,1437,1438,1439,1440,1445,1446,1447,1451,1452,1453,1454,1459,1460,1461,1465,1466,1467,1468,1473,1474,1475,1479,1480,1481,1482,1487,1488,1489,1501,1502,1537,1538,1539,1540,1541,1542,1606,1609,1610,1611,1613,1614,1615,1616,1688,1689,1690,1691,1692) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,6,1408,1431,1432,1433,1475,1489,1537,1538,1539,1540,1542,1606,1610,1611,1614,1615,1616,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,1447,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,6,1461,1561,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1537,1540,1542,1575,1606,1614,1615,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1537,1540,1542,1547,1548,1549,1561,1575,1606,1614,1615,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Qi Zhang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6,1169,1170,1171,1172,1173,1174,1175,1177,1178,1179,1183,1184,1185,1186,1187,1188,1196,1199,1200,1201,1209,1212,1213,1214,1222,1223,1224,1225,1226,1227,1235,1236,1237,1238,1239,1240,1248,1250,1251,1252,1253,1255,1257,1261,1263,1264,1265,1266,1268,1270,1274,1275,1276,1277,1278,1279,1283,1287,1288,1289,1290,1291,1292,1296,1303,1316,1326,1327,1328,1329,1330,1331,1335,1339,1340,1341,1342,1343,1344,1348,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1411,1426,1427,1475,1476,1479,1480,1483,1484,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1517,1529,1530,1532,1537,1540,1541,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1609,1610,1613,1614,1615,1708,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#drop empty columns
sc96 = sc96.dropna(axis = 1, how = 'all')
sc97 = sc97.dropna(axis = 1, how = 'all')
sc98 = sc98.dropna(axis = 1, how = 'all')
sc99 = sc99.dropna(axis = 1, how = 'all')
sc00 = sc00.dropna(axis = 1, how = 'all')
sc01 = sc01.dropna(axis = 1, how = 'all')
sc02 = sc02.dropna(axis = 1, how = 'all')
sc03 = sc03.dropna(axis = 1, how = 'all')
sc04 = sc04.dropna(axis = 1, how = 'all')
sc05 = sc05.dropna(axis = 1, how = 'all')
sc06 = sc06.dropna(axis = 1, how = 'all')
sc07 = sc07.dropna(axis = 1, how = 'all')
sc08 = sc08.dropna(axis = 1, how = 'all')
sc09 = sc09.dropna(axis = 1, how = 'all')
sc10 = sc10.dropna(axis = 1, how = 'all')
sc11 = sc11.dropna(axis = 1, how = 'all')
sc12 = sc12.dropna(axis = 1, how = 'all')
sc13 = sc13.dropna(axis = 1, how = 'all')
sc14 = sc14.dropna(axis = 1, how = 'all')

In [4]:
#Add year variable to prep for merge
sc96['Year'] = pd.Series([1996 for x in range(len(sc96.index))], index=sc96.index)
sc97['Year'] = pd.Series([1997 for x in range(len(sc97.index))], index=sc97.index)
sc98['Year'] = pd.Series([1998 for x in range(len(sc98.index))], index=sc98.index)
sc99['Year'] = pd.Series([1999 for x in range(len(sc99.index))], index=sc99.index)
sc00['Year'] = pd.Series([2000 for x in range(len(sc00.index))], index=sc00.index)
sc01['Year'] = pd.Series([2001 for x in range(len(sc01.index))], index=sc01.index)
sc02['Year'] = pd.Series([2002 for x in range(len(sc02.index))], index=sc02.index)
sc03['Year'] = pd.Series([2003 for x in range(len(sc03.index))], index=sc03.index)
sc04['Year'] = pd.Series([2004 for x in range(len(sc04.index))], index=sc04.index)
sc05['Year'] = pd.Series([2005 for x in range(len(sc05.index))], index=sc05.index)
sc06['Year'] = pd.Series([2006 for x in range(len(sc06.index))], index=sc06.index)
sc07['Year'] = pd.Series([2007 for x in range(len(sc07.index))], index=sc07.index)
sc08['Year'] = pd.Series([2008 for x in range(len(sc08.index))], index=sc08.index)
sc09['Year'] = pd.Series([2009 for x in range(len(sc09.index))], index=sc09.index)
sc10['Year'] = pd.Series([2010 for x in range(len(sc10.index))], index=sc10.index)
sc11['Year'] = pd.Series([2011 for x in range(len(sc11.index))], index=sc11.index)
sc12['Year'] = pd.Series([2012 for x in range(len(sc12.index))], index=sc12.index)
sc13['Year'] = pd.Series([2013 for x in range(len(sc13.index))], index=sc13.index)
sc14['Year'] = pd.Series([2014 for x in range(len(sc14.index))], index=sc14.index)

In [5]:
#Merge data
merged_data = pd.concat([sc96,sc97,sc98,sc99,sc00,sc01,sc02,sc03,sc04,sc05,sc06,sc07,sc08,sc09,sc10,sc11,sc12,sc13,sc14], axis = 0, ignore_index = True)

In [7]:
#drop colunms with 80% missing values
merged_data=merged_data.dropna(thresh=len(merged_data)*0.8, axis=1)

In [9]:
merged_data.shape

(132402, 730)

In [11]:
header=merged_data.dtypes.index
header[:10]

Index(['AGE_ENTRY', 'APPL_SCH_N', 'APPL_SCH_PCT_GE2', 'APPL_SCH_PCT_GE3',
       'APPL_SCH_PCT_GE4', 'APPL_SCH_PCT_GE5', 'CDR2', 'CDR2_DENOM',
       'CIP01ASSOC', 'CIP01BACHL'],
      dtype='object')

In [13]:
#merge data for 2007-2014 since only these years have variables related to repayment
merged_data_repayment = pd.concat([sc07,sc08,sc09,sc10,sc11,sc12,sc13,sc14], axis = 0, ignore_index = True)
merged_data_repayment.head()

,ACTCM25,ACTCM75,ACTCMMID,ACTEN25,ACTEN75,ACTENMID,ACTMT25,ACTMT75,ACTMTMID,ACTWR25,...,WDRAW_4YR_TRANS_YR8_RT,WDRAW_DEBT_MDN,WDRAW_DEBT_N,WDRAW_ORIG_YR2_RT,WDRAW_ORIG_YR3_RT,WDRAW_ORIG_YR4_RT,WDRAW_ORIG_YR6_RT,WDRAW_ORIG_YR8_RT,Year,ZIP
0,16.0,19.0,18.0,15.0,20.0,18.0,16.0,18.0,17.0,NaN,...,0.122007722,5250,2280,0.303767661,0.270958084,0.277629827,0.265493497,0.264092664,2007,35762
1,21.0,27.0,24.0,21.0,28.0,25.0,19.0,25.0,22.0,NaN,...,0.065878378,4548.5,3042,0.226495727,0.253877551,0.239130435,0.273475315,0.24268018,2007,35294-0110
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PrivacySuppressed,6875.5,364,0.454545455,0.496551724,0.420118343,0.463414634,0.321100917,2007,36117-3553
3,22.0,27.0,25.0,20.0,28.0,24.0,21.0,26.0,24.0,NaN,...,0.098837209,4375,1428,0.204301075,0.237721022,0.218283582,0.224351748,0.245348837,2007,35899
4,14.0,18.0,16.0,13.0,18.0,16.0,15.0,17.0,16.0,NaN,...,0.160371107,4886,3089,0.289036545,0.260173449,0.29476406,0.282734647,0.266401591,2007,36104-0271

In [17]:
#drop colunms with 70% missing values
merged_data_repayment=merged_data.dropna(thresh=len(merged_data_repayment)*0.7, axis=1)
merged_data.head()

,AGE_ENTRY,APPL_SCH_N,APPL_SCH_PCT_GE2,APPL_SCH_PCT_GE3,APPL_SCH_PCT_GE4,APPL_SCH_PCT_GE5,CDR2,CDR2_DENOM,CIP01ASSOC,CIP01BACHL,...,WDRAW_2YR_TRANS_YR2_RT,WDRAW_2YR_TRANS_YR3_RT,WDRAW_4YR_TRANS_YR2_RT,WDRAW_4YR_TRANS_YR3_RT,WDRAW_DEBT_MDN,WDRAW_DEBT_N,WDRAW_ORIG_YR2_RT,WDRAW_ORIG_YR3_RT,Year,ZIP
0,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996,36114-3011
1,NaN,NaN,NaN,NaN,NaN,NaN,0.171,930.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996,35762
2,NaN,NaN,NaN,NaN,NaN,NaN,0.077,2286.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996,35294-0110
3,NaN,NaN,NaN,NaN,NaN,NaN,0.021,48.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996,36360
4,NaN,NaN,NaN,NaN,NaN,NaN,0.032,31.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996,36117-3553